@model restaurante.web.Models;

<div class="form-horizontal">
    <form action="Edit" method="Post">

        <div class="form-group">
            <label>Id</label>
            <input  class="form-control"
                    type="text" name="id"
                    value="@restaurante.web.id"/>
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input  class="form-control"
                    type="text" name="name"
                    value="@restaurante.web.name"/>
        </div>

        <div class="form-group">
            <label>Endereco</label>
            <input  class="form-control"
                    type="text" name="endereco"
                    value="@restaurante.web.endereco"/>
        </div>

        <div class="form-group">
            <label>Bairro</label>
            <input  class="form-control"
                    type="text" name="bairro"
                    value="@restaurante.web.bairro"/>
        </div>

        <div class="form-group">
            <label>Cidade</label>
            <input  class="form-control"
                    type="text" name="cidade"
                    value="@restaurante.web.cidade"/>
        </div>

        <div class="form-group">
            <label>BairEstadoro</label>
            <input  class="form-control"
                    type="text" name="estado"
                    value="@restaurante.web.estado"/>
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>